* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #7ab3dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 30px auto;
    width: 350px;
}